<h1>
    说明:<br/>
    <a href="/DrawPic/UploadPic" target="_blank">首页</a>&nbsp;上传本机图片 上传完成后会存到服务器,无需再次上传<br/>
</h1>
<h4>
    (你可以输入用户名,以标记自己上传的图片)
</h4>
<h1>
    <a href="/DrawPic/PicList" target="_blank">图片库</a>&nbsp;点击任意图片即可去详情页
</h1>
<h4>(其他用户也能看到你的上传的文件)</h4>
<h1>
    <a href="/DrawPic/ViewPic" target="_blank">图片详情页</a>&nbsp;给文件加上文字DIY后可以分享到QQ好友
</h1>
<strong>Bug List:</strong>
<h3 style="color: green">
    (1)还有一些格式的图片不能加文字<br/>
    (2)图片太小文字会变成黑块<br />
    (3)功能不完善&&前端样式丑爆<br />
</h3>
<h5>Code By XA</h5>